*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

.nav-logo{
    color: white;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;
}